body {
    font-family: "Ubuntu", sans-serif;
  }
  
#tarjeta {
    border: none;
}

#seep {
    padding-top: 1%;
    padding-bottom: 1%;
}

#name {
    color: rgb(58, 58, 58);
}

#imag {
    height: 250px;
    width: fit-content;
}

#descriptions li:before{
    content:"\2713\0020";
}

#inputs {
    border-radius: 15px;
}

#itemCheck {
    color: rgb(117, 187, 3);
    font-size: 250%;
    width: 13%;
    margin: 10%;
    /*padding-right: 50%;*/
    font-weight: bold;
}

#bars {
    background-color: rgb(239, 255, 239);
}
